.header {
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $headerFooterBlue;
        padding: 5px 14px 5px 14px;
    }

    &__title {
        @include fontTitleHeader();
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: end;
    }

    &__arrow__img {
        transition: transform 0.3s ease; 
    }

    &__arrow__img.rotated {
        transform: rotate(180deg); 
    }

    &__userMenu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



