@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@mixin Roboto($font-size, $font-weight, $line-height) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin fontTitleHeader() {
  @include Roboto(28px, 400, 120%);
  color: $mainWhite;
}

@mixin fontTitleMain() {
  @include Roboto(18px, 400, 120%);
  color: $mainBlack;
}

@mixin fontTitleFooter() {
  @include Roboto(18px, 400, 120%);
  color: $mainWhite;
}